@charset "utf-8";

#dreambox{
  width:100%;
  height:100%;
  background: url("../imgs/bg.jpg") center top no-repeat;
  background-size: 100% auto;
  text-align: center;
  position: relative;
  opacity: 0;
}

#mask{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.6);
  z-index: 9;
  display: none;
}

.active_trace{
  width:10%;
  position: absolute;
  left: 22%;
  top: 40%;
}
 
.active_trace img,.hand img{
  width:100%;
}

.hand{
  width: 100%;
  position: absolute;
  left: -56%;
  top: 30%;
  -webkit-animation:handmove 2s linear infinite;
  -moz-animation:handmove 2s linear infinite;
  -o-animation:handmove 2s linear infinite;
  animation:handmove 2s linear infinite;
}




.logo{
  width:100%;
  display: inline-block;
  margin: 9% 0 6% 0;
  position: relative;
  z-index: 10;
  text-align: center;
}

.logo img{
  width:40%;
  display: inline-block;
}

.slogan_en,.slogan_cn{
  width: 100%;
  display: inline-block;
}

.slogan_en img,.slogan_cn img{
  width:70%;
  display: inline-block;
}

.container{
  display: inline-block;
  width: 100%;
  position: relative;
}

.p_animate{
  width:180px;
  height: 180px;
  display: inline-block;
  /*background: url("../imgs/pro.png") -650px top no-repeat;
  background-size: auto 100%;*/
  overflow: hidden;
  margin: 12% 0;
  position: relative;
}

.p_animate img{
  height: 100%;
}



/* video */
.video{
  width: 100%;
  position: relative;
  margin: 3% 0;
  display: inline-block;
}

.videoposter{
   width:100%;
  height:100%;
  z-index:99;
  position:absolute;
  left:0;
  top:0;
  opacity:0;
}

.videoposter img{
  width: 100%;
}


.vpause{
  width:100%;
  height:100%;
  z-index:99;
  display:none;
  position:absolute;
  left:0;
  top:0;
  opacity:0;
}

.videoText{
  font-size: 16px;
  color: #fff;
}

.videoText p{
  width:100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

.videoText img{
  opacity: 0;
}



.footer,.footer p{
  width: 100%;
  text-align: center;
}

.join_btn{
  width: 36%;
  display: inline-block;
  margin: 10px 0;
}

.join_btn img{
  width: 100%;
}

.btn_tips{
  width: 70%;
  display: inline-block;
}

.activeArea{
  width:100%;
  text-align: right;
}

.active_tips{
  width: 34%;
  display: inline-block;
  margin: 6% 14% 0 0;
  vertical-align: top;
}

.routeAni{
  width: 76px;
  height: 76px;
  display: inline-block;
  position: relative;
}

.routeAni span{
  width: 50%;
  height: 100%;
  background: url("../imgs/handTips.png") no-repeat;
  background-size: auto 100%;
  position: absolute;
  left: -38%;
  top: 0;
}

.routeAni img{
  height: 100%;
  display: inline-block;
}



/* holder */
#holder{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}




/* RING */
.ring{
position: absolute;
    background: url("../imgs/pro.png") 50% 0 no-repeat;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: step-start;
}


.up .ring {
    -webkit-animation-name: ringup;
    -webkit-animation-duration: 800ms;
}

.down .ring {
    -webkit-animation-name: ringdown;
    -webkit-animation-duration: 800ms;
}

@-webkit-keyframes ringup {
    0% {background-position: 50% 0;}
    10% {background-position: 40% 0;}
    20% {background-position: 30% 0;}
    30% {background-position: 20% 0;}
    40% {background-position: 10% 0;}
    50% {background-position: 0 0;}
    60% {background-position: 10% 0;}
    70% {background-position: 20% 0;}
    80% {background-position: 30% 0;}
    90% {background-position: 40% 0;}
    100% {background-position: 50% 0;}
}

@-webkit-keyframes ringdown {
    0% {background-position: 50% 0;}
    10% {background-position: 60% 0;}
    20% {background-position: 70% 0;}
    30% {background-position: 80% 0;}
    40% {background-position: 90% 0;}
    50% {background-position: 100% 0;}
    60% {background-position: 90% 0;}
    70% {background-position: 80% 0;}
    80% {background-position: 70% 0;}
    90% {background-position: 60% 0;}
    100% {background-position: 50% 0;}
}






.loading{
    width: 0;
    text-align: center;
    position: fixed;
    left: 50%;
    top:50%;
    background: #f1f1f1;
    z-index: 10;
    margin: -27% 0 0 -50%;
    padding: 2px 0;
}



@keyframes handmove{
    0%{transform: translate(0, 50px);}
    15%{transform: translate(0, 40px);}
    20%{transform: translate(0, 30px);}
    35%{transform: translate(0, 15px); opacity: 0.6; }
    50%{transform: translate(0, 0px); opacity: 0; }

    60%{transform: translate(0, 0px); opacity: 0; }
    70%{transform: translate(0, 0px); opacity: 0; }
    80%{transform: translate(0, 0px); opacity: 0; }
    90%{transform: translate(0, 0px); opacity: 0; }
    100%{transform: translate(0, 0px); opacity: 0; }
}
@-webkit-keyframes handmove{
    0%{-webkit-transform: translate(0, 50px);}
    15%{-webkit-transform: translate(0, 40px);}
    25%{-webkit-transform: translate(0, 30px);}
    35%{-webkit-transform: translate(0, 15px); opacity: 0.6; }
    50%{-webkit-transform: translate(0, 0px); opacity: 0; }

    60%{-webkit-transform: translate(0, 0px); opacity: 0; }
    70%{-webkit-transform: translate(0, 0px); opacity: 0; }
    80%{-webkit-transform: translate(0, 0px); opacity: 0; }
    90%{-webkit-transform: translate(0, 0px); opacity: 0; }
    100%{-webkit-transform: translate(0, 0px); opacity: 0; }

}
@-moz-keyframes handmove{
    0%{-moz-transform: translate(0, 50px);}
    15%{-moz-transform: translate(0, 40px);}
    25%{-moz-transform: translate(0, 30px);}
    35%{-moz-transform: translate(0, 15px); opacity: 0.6; }
    50%{-moz-transform: translate(0, 0px); opacity: 0; }

    60%{-moz-transform: translate(0, 0px); opacity: 0; }
    70%{-moz-transform: translate(0, 0px); opacity: 0; }
    80%{-moz-transform: translate(0, 0px); opacity: 0; }
    90%{-moz-transform: translate(0, 0px); opacity: 0; }
    100%{-moz-transform: translate(0, 0px); opacity: 0; }
}

@-o-keyframes handmove{
    0%{-o-transform: translate(0, 50px);}
    15%{-o-transform: translate(0, 40px);}
    25%{-o-transform: translate(0, 30px);}
    35%{-o-transform: translate(0, 15px); opacity: 0.6; }
    50%{-o-transform: translate(0, 0px); opacity: 0; }

    60%{-o-transform: translate(0, 0px); opacity: 0; }
    70%{-o-transform: translate(0, 0px); opacity: 0; }
    80%{-o-transform: translate(0, 0px); opacity: 0; }
    90%{-o-transform: translate(0, 0px); opacity: 0; }
    100%{-o-transform: translate(0, 0px); opacity: 0; }
}

